@charset "utf-8";
/* CSS Document */


/* CONTAINERS */

.binary {
	margin: 3rem 0 0;
}

.content {
	display: flex;
	flex-flow: column nowrap;
	position: relative;
	overflow: hidden;
}

.content > div {
	width: 100%;
}


/* QUESTION */

.question-container {
	padding: 2rem;
	transition: padding 0.2s ease;
	flex-shrink: 0;
	background-color: var(--sylvite);
	align-self: flex-start;
}

.question-container > * > *:last-child {
	margin-bottom: 0;
}

.question p {
	font-size: 1.25rem;
	font-weight: 900;
	line-height: 1.2;
}

.question p.small {
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.3;
}


/* FEEDBACK */

.feedback-container {
	position: absolute;
	color: white;
	padding: 1.25rem;
	width: 100%;
	top: 0;
	transform: translateY(0);
	transition: transform 0.2s ease;
}

.feedback-container.is-hidden {
	transform: translateY(-105%);
	display: block;
	padding: 1.25rem;
}

.feedback-container.is-true  {
	background-color: var(--green);
}

.feedback-container.is-false  {
	background-color: var(--red);
}

.feedback-container > * > *:last-child {
	margin-bottom: 0;
}

.feedback p {
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.2;
}


/* INTERACTIVE */

.interactive {
	display: flex;
	flex-flow: row nowrap;
	align-items: stretch;
	align-content: stretch;
	flex-grow: 1;
	height: 54px;
}


/* PROGRESS */

.progress-container {
    height: auto;
    margin-bottom: 1rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
	flex-shrink: 0;
	flex-grow: 0;
}

.progress-container div {
    height: 0.5rem;
    width: 2.5rem;
    margin-right: 0.5rem;
    background-color: var(--corundum);
    flex-grow: 0;
    cursor: pointer;
    transition: all 0.1s ease;
	opacity: 0.3;
}

.progress-container div:hover {
	background-color: var(--accent);
	opacity: 1;
}

.progress-container div.is-active {
	background-color: var(--accent);
	opacity: 1;
}

.progress-container.tracking div:hover {
	background-color: var(--corundum);
}

.progress-container.tracking div.is-active {
	background-color: var(--corundum);
}

.progress-container.tracking div.is-true {
	background-color: var(--green);
}

.progress-container.tracking div.is-false {
	background-color: var(--red);
}


/* CHOICE BUTTONS */ 

a.button-text {
	background-color: var(--galena);
	color: white;
	font-size: 1rem;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	transition: all 0.1s ease;
	flex-grow: 1;
	padding: 0.95rem;
	border-right: 2px solid var(--tungsten);
}

a.button-text:last-of-type {
	border-right: none;
}

a.button-text:hover,
a.button-text.is-active {
	background-color: var(--accent);
}


/* NAV BUTTONS */ 

#button-group-left,
#button-group-right {
	width: 3rem;
	overflow: hidden;
	transition: width 0.2s linear;
	box-sizing: content-box;
	position: relative;
}

#button-group-left {
	border-right: 2px solid var(--tungsten);
}

#button-group-right {
	border-left: 2px solid var(--tungsten);
}

#button-group-left.is-disabled,
#button-group-right.is-disabled {
	width: 0;
	border: none;
}

#previous,
#next, 
#restart {
    width: 3rem;
    height: 3rem;
	max-width: 3rem;
    flex-grow: 0;
    flex-shrink: 0;
	opacity: 1;
    position: absolute;
    cursor: pointer;
    background-color: var(--galena);
	transition: all 0.1s ease;
	box-sizing: border-box;
}

#previous {
	right: 0;
}

#next,
#restart {
	left: 0;
}

#previous:hover,
#next:hover,
#restart:hover {
	background-color: var(--accent);
}

#previous::before,
#next::before {
	content: "";
	position: absolute;
	top: 9px;
	left: 9px;
	width: 36px;
	height: 36px;
	border-radius: 100%;
	border: 3px solid white;
}

#previous::after {
	content: "";
	position: absolute;
	top: 20px;
	left: 19px;
	height: 0;
	width: 0;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-right: 12px solid white;
}

#next::after {
	content: "";
	position: absolute;
	top: 20px;
	right: 19px;
	height: 0;
	width: 0;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-left: 12px solid white;
}

#restart::before {
	content: "";
	position: absolute;
	top: 14px;
	left: 12px;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	border-width: 3px;
	border-color: white white transparent white;
	border-style: solid;
	transform: rotate(135deg);
}

#restart::after {
	content: "";
	position: absolute;
	top: 9px;
	right: 26px;
	height: 0;
	width: 0;
	border-right: 12px solid white;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
}

#previous.is-disabled::after,
#previous.is-disabled::before,
#next.is-disabled::after,
#next.is-disabled::before,
#restart.is-disabled::after,
#restart.is-disabled::before {
	display: none;
}


/* STATES */

.is-hidden {
 	display: none;
	margin: 0;
	padding: 0;
}

.is-disabled {
	pointer-events: none;
	cursor: auto;
}